.form-gap {
    padding-top: 70px;
}

.small-gap {
    padding-top: 30px;
}

.custom-form-group {
    max-width: 500px;
    /* Adjust the max-width as needed */
    margin: 0 auto;
    /* Center the form horizontally */
}

.input-group {
    width: 100%;
}

.btn-block {
    width: 100%;
}

.error-text {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    /* Adjust the font size as needed */
}


.success-text {
    color: green;
    font-weight: bold;
    font-size: 1.2em;
    /* Adjust the font size as needed */
}