.custom-title {
    color: gold;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 10px; /* Adjust the value based on your needs */
}

/* .custom-login-btn
{
    background-color: #17213B;
} */
