 

.custom-login-btn {
    background-color: #eab54f;
    font-weight: bold;
    /* Make the text bold */
    transition: background-color 0.3s ease;
    /* Add a smooth transition effect */

}

.custom-login-btn:hover,
.custom-login-btn:active {
    background-color: #ff8c00;
    /* Change to a different color on hover and click */
}

.login-error-text {
    color: red;
    text-align: center;
    /* Add other styles as needed */
}

.custom-login-title{
    color: #eab54f;
 
 }